body {
    font-family: 'Roboto', sans-serif;
}

.my-background {
    background-image: url(/shop/imgs/bg-min.png);
    background-repeat: no-repeat;
    background-position-x: center;
    opacity: 70%;
    z-index: -1;
    min-height: 100vh;
}

.my-form-cntr {
    background-color: rgb(181 192 222 / 56%);
}

.text-my-indigo {
    color: #a571f4;
}

.bg-my-indigo {
    background-color: #a571f4;
}

.bg-my-gray {
    background-color: #3b3b3b;
}

nav {
    font-size: 1.5rem;
}

.card {
    border-radius: 10px;
    border: 1px solid #a571f4;
    height: 40rem;
}

.card-img-top {
    border-bottom: 4px solid lightgray;
    object-fit: contain;
    height: 40%;
}

.my-card-top {
    background-color: #a571f4;
    height: 8px;
}

.my-icon {
    width: 1.75rem;
}

.rating-star {
    color: #ffbb33;
}

.details-block {
    background-color: rgba(255, 255, 255, 0.7);
}
